 body {
	padding: 0;
	margin: 0;
	font-family: "Georgia", Times, serif;
	font-size: 13px;
	line-height:20px;
	background-color: #cceeff;
}
/*main section*/
.main{
	width: 80%;
	margin: 48px auto;

}
.edit-qoute{
	text-align: center;
}
.quotes{
	text-align: center;
}
.quote {
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #ccc;
	width: calc(25 - 48px);
	margin: 32px;
	padding: 16px;
	vertical-align: top;
	background-color: #99ddff;
}
.quote.first-in-line{
	margin-left: 0;
}
.qoute.last-in-line{
	margin-right: 0;
}
.quout .info{
	margin-top: 8px;
	font-size: 11px;
	font-family: "Roboto", sans-serif;
	color: #ccc;
}
.quote .info a:hover{
	color: #ccc;
}
.quote .info a:active,
.auote .info a:active {
	color: #aaa;
}
.quote .delete{
	position: absolute;
	top: 0px;
	right: 4px;
	font-family: sans-serif;
}
.quote .delete a{
	color: #bbb;
	text-decoration: none;
}
.quote .delete a:hover,
.quote .delete a:active {
	color: red;
}
.input-group{
	margin: 13px 0;
}
.input-group label {
	display: block;
	text-align: center;
	font-weight: bold;
}

.input-group input {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	font-size: inherit;
	padding: 4px 8px;
}

.input-group textarea {
	border: 1px solid #ccc;
	border-radius: 6px;
	font-family: inherit;
	font-size: inherit;
	padding: 4px 8px;
	height: 70px;
}

.me{
	width: 200px;
	border-radius: 3px;
}
.input-group textarea {
	width: 50%;
}
.btn{
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #1a75ff;
	font-size: inherit;
	font-family: "Roboto", sans-serif;
	padding:  8px;
	cursor: pointer;
}
.btn:hover,
.btn:active{
	background-color: #b3d1ff;
}
.info-box{
	text-align: center;
	margin: auto;
	padding: 16px;
	border-radius: 3px;
	width:  50%;
}
.fail {
	border:1px solid #ff0000;
	background-color: #ffb3b3;
	color: #ff0000;
}
.success {
	border:1px solid #00cc00;
	background-color: #ccffcc;
	color: #00cc00;
}
.filter-bar{
	width: 60%;
	padding: 16px;
	background-color: #66b3ff;
	color: black;
	text-align: center;
	margin: auto;
	border-radius: 5px;
	margin-top: 20px;
}
.pagination{
	font-size: 20px;
}
.a{
	color: #1a75ff;
	text-decoration: none;
}
.a:hover,
.a:active{
	color: #66b3ff;
}

